.back-button {
	background-color: var(--elements-color);
	color: var(--text-color);
	border: none;
	padding: 0.6rem 2.2rem;
	border-radius: 0.3rem;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.2);
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	margin-bottom: 4rem;
}
.country {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: clamp(1rem, 4vw, 8rem);
}
.country__flag {
	width: clamp(30rem, 40vw, 45rem);
	height: auto;
}
.country__info {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.country__info-name {
	font-size: 2rem;
}
.country__info-desc {
	display: flex;
	gap: 4rem;
}
.bold {
	font-weight: 600;
}
.country__info-desc__row {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.country__info-borders {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}
.borders__loader {
	color: var(--light-text);
}
.country__info-borders__head {
	font-weight: 600;
	margin-right: 0.5rem;
}

.country__info-borders__item {
	text-decoration: none;
	background-color: var(--elements-color);
	color: var(--text-color);
	font-size: 0.9rem;
	padding: 0.2rem 1.2rem;
	border-radius: 0.3rem;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.2);
}
@media (max-width: 920px) {
	.back-button {
		margin-bottom: 1.5rem;
	}
	.country {
		flex-direction: column;
		align-items: stretch;
	}
	.country__flag {
		width: 100%;
	}
}
@media (max-width: 550px) {
	.country__info-desc {
		flex-direction: column;
		gap: 2rem;
	}
	.country__info-borders__head {
		display: block;
		width: 100%;
		margin-bottom: 0.2rem;
	}
}
