.country {
	max-height: 35rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	border-radius: 0.3rem;
	background: var(--light-elements);
	box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.1);
	cursor: pointer;
}
.country__wrapper {
	color: var(--light-text);
	text-decoration: none;
}
.country__flag-wrapper {
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 10rem;
	overflow: hidden;
}
.country__flag {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.country__description {
	padding: 1.5rem 1.7rem 2rem 1.7rem;
}
.country__name {
	font-size: 1.3rem;
	font-weight: 800;
	margin-bottom: 0.8rem;
}
.country__info {
	margin-bottom: 0.2rem;
}
.bold {
	font-weight: 600;
}
