.countries-grid {
	padding: 2rem 0rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
	grid-gap: 2rem;
}
@media (max-width: 767px) {
	.countries-grid {
		justify-content: center;
	}
}
