.search-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input {
	border-radius: 0.3rem;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.05);
	width: 20rem;
	background-color: var(--light-elements);
}
.input:focus {
	outline: none;
}
.select {
	padding: 0.1rem 0.5rem 0.1rem 0.7rem;
	border-radius: 0.3rem;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.05);
	cursor: pointer;
	background-color: var(--light-elements);
}
.select:focus {
	outline: none;
}
.select__drop {
	background: var(--light-elements);
}
