.search-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input {
	border-radius: 0.3rem;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.05);
	width: 20rem;
	background-color: var(--elements-color);
}
.input__text {
	color: var(--text-color);
}
.input:focus {
	outline: none;
}

.select {
	border-radius: 0.3rem;
	padding: 0.3rem 0.5rem 0.3rem 0.7rem;
	border: none;
	box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.05);
	cursor: pointer;
	background-color: var(--elements-color);
}
.select:focus {
	outline: none;
}
.select__drop {
	border: none;
	background: var(--elements-color);
}

.select__text {
	color: var(--text-color);
}

.select__item {
	color: var(--text-color);
}
.select__item-selected {
	background-color: var(--background-color);
}
.select__item-hovered {
	background-color: var(--background-color);
}

@media (max-width: 600px) {
	.search-filter {
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;
	}
	.input {
		width: 100%;
	}
	.select {
		align-self: flex-start;
	}
}
