:root {
	--dark-background: hsl(207, 26%, 17%);
	--dark-elements: hsl(209, 23%, 22%);
	--dark-text: hsl(0, 0%, 100%);
	--light-background: hsl(0, 0%, 98%);
	--light-elements: hsl(0, 0%, 100%);
	--light-text: hsl(200, 15%, 8%);
	--light-input: hsl(0, 0%, 52%);
}
body {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;

	background: var(--light-background);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.main {
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
}
